
/* Your CSS Code here. */

.holder {
    display: flex; 
    justify-content: space-around;
    align-items: stretch; 
    flex-wrap: wrap;
}

.item {
    width: 70px;
    height: 70px;
    background-color: aliceblue;
    border-radius: 2px solid blue;
}
